body {
  color: #0c0c0d;
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  font-family: 'Cormorant Garamond', serif;
  color: #45a1ff;
}

.panel p {
  display: inline-block;
}

.link {
color: #0060df;
font-size: 14px;
line-height: 1.2;
font-family: Cantarel, sans-serif;
}
.link:hover {
text-decoration: underline;
}
.link:active {
color: #003eaa;
text-decoration: underline;
}
.link:focused {
box-shadow: 0 0 0 2px #0a84ff, 0 0 0 6px rgba(10, 132, 255, 0.3);
}

.export-button {
background: none;
border: none;
padding: 0 0 0 8px;
}

input[type="file"] {
  display: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table td,
table th {
  border: 1px solid #ededf0;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f9f9fa;
}

table tr:hover {
  background-color: #ededf0;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #45a1ff;
  color: white;
}
