h1 {
  font-family: 'Cormorant Garamond', serif;
  color: #45a1ff;
}

table {
  font-family: Helvetica, Arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td,
table th {
  border: 1px solid #ededf0;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f9f9fa;
}

table tr:hover {
  background-color: #ededf0;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #45a1ff;
  color: white;
}
