body {
  font-family: 'Helvetica', sans-serif;
  color: #333333;
  margin: 0;
  padding: 24px;
  background-image: url('https://png.pngtree.com/thumb_back/fw800/back_pic/02/66/09/855789ba5a28a3f.jpg');
  background-size: cover;
}

.brand {
  display: flex;
  width: 100%;
}

.brand__logo {
  align-self: center;
  height: 32px;
  margin-bottom: 12px;
}

.brand__name {
  font-family: 'Cormorant Garamond', serif;
  font-size: 32px;
  margin-bottom: 30px;
  display: inline-block;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
}

.description__title {
  font-family: 'Cormorant Garamond', serif;
  font-size: 30px;
}

.description__text {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 24px;
}

.description__button {
  width: 100%;
  display: block;
  box-sizing: border-box;
  text-align: center;
  color: white;
  text-decoration: none;
  line-height: 40px;
  height: 40px;	
}

video {
  margin-top: 12px;
  max-width: 100%;
  border-radius: 9px;
  opacity: 0.85;
}
video:hover {
  opacity: 1;
}

.add-button {
  background-color: #0060df;
  border: none;
  height: 32px;
  padding: 0 48px;
  border-radius: 16px;
}

.add-button:hover {
  background-color: #003eaa;
}

.nav {
  display: flex;
  display: none;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--nav-height);
  background: white;
  opacity: 0.9;
  padding: 0 12px;
  box-sizing: border-box;
}

@media only screen and (min-width: 900px) {
  .hero {
    margin: 48px 12px 0 12px;
    flex-direction: row;
    justify-content: space-around;
  }

  .description {
  }

  video {
    max-width: 50%;
    flex-grow: 1;
  }

  .brand {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 0;
    margin-bottom: -24px;
  }
}
