body {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Fira Sans', sans-serif;
  color: #ededf0;
  background: #2a2a2e;

  min-height: 100vh;
  margin: 0;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40vh;
}

.Field {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.question {
  max-width: 40ch;
  text-align: center;
  margin-bottom: 40px;
}

.Answers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 12px;
}

.Answer {
  transition: background-color 0.2s ease;
  background-color: #38383d;
  color: #ededf0;
  font-weight: bold;
  font-size: 18px;
  border: none;
  padding: 8px;
  border-radius: 2px;
  min-width: 280px;
}
.Answer:hover {
  background-color: #4a4a4f;
  cursor: pointer;
  color: #d7d7db;
}

.loading-screen {
  margin-bottom: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loading-screen__title {
  font-family: 'Cormorant Garamond', serif;
  font-size: 5vw;
  color: #ff0039;
  text-shadow: 0 1px 4px #000;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #ff0039;
  box-shadow: 0 1px 4px #000;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}
