body {
  color: #0c0c0d;
  font-family: Helvetica, sans-serif;
}

h1 {
  font-family: 'Cormorant Garamond', serif;
  color: #45a1ff;
}

.panel {
  display: flex;
}

.panel p {
  flex-grow: 1;
}

button {
  color: #0c0c0d;
  background-color: rgba(12, 12, 13, 0.1);
  height: 32px;
  width: auto;
  border-radius: 2px;
  padding: 0 8px;
  font-size: 13px;
  font-weight: 400;
  border: none;
  margin-left: 8px;
}

button:hover {
  background-color: rgba(12, 12, 13, 0.2);
}

button:active {
  background-color: rgba(12, 12, 13, 0.3);
}

button:focus {
  box-shadow: 0 0 0 1px #0a84ff inset, 0 0 0 1px #0a84ff, 0 0 0 4px rgba(10, 132, 255, 0.3);
}

button:disabled {
  opacity: 0.4;
}

input[type="file"] {
  display: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table td,
table th {
  border: 1px solid #ededf0;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f9f9fa;
}

table tr:hover {
  background-color: #ededf0;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #45a1ff;
  color: white;
}

table td:focus {
  border-radius: 2px;
  outline: 2px solid #0a84ff;
  background-color: white;
  box-shadow: 0 0 0 1px #0a84ff, 0 0 0 4px rgba(10, 132, 255, 0.3);
}
