body {
  font-family: 'Helvetica', sans-serif;
  color: #333333;
  background-color: #f9f9fa;
  margin: 0;
  padding: 24px;
}

.header h1 {
  font-size: 40px;
  font-family: 'Cormorant Garamond', serif;
  margin-bottom: 0;
}
.header p {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  margin-top: 8px;
  color: #737373;
}

.not-firefox {
  display: block;
  text-align: center;
  background-color: #d7d7db;
  border: none;
  height: 32px;
  line-height: 32px;
  padding: 0 48px;
  border-radius: 16px;
}

.section {
  margin-bottom: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
  margin-bottom: 24px;
}

.description__title {
  font-family: 'Cormorant Garamond', serif;
  font-size: 30px;
}

.description__text {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 24px;
}

.description__button {
  width: 100%;
  display: block;
  box-sizing: border-box;
  text-align: center;
  color: white;
  text-decoration: none;
  line-height: 40px;
  height: 40px;
}

.video {
  background-color: #fff;
  padding: 8px;
  margin: 12px 0 24px;
  max-width: 100%;
  border-radius: 9px;
  opacity: 0.85;
}

.add-button {
  background-color: #0060df;
  border: none;
  height: 32px;
  padding: 0 48px;
  border-radius: 16px;
}

.dictionary.section p {
  margin-bottom: 0;
}

@media only screen and (min-width: 900px) {
  .section {
    flex-direction: row;
    justify-content: space-around;
  }
  .description {
    width: 50%;
    padding: 24px;
  }
  .dictionary .description {
    order: 2;
  }

  .video {
    width: 50%;
    flex-grow: 1;
    padding: 24px;
    box-shadow: 0 1px 4px rgba(12, 12, 13, 0.1);
  }

  .brand {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 0;
    margin-bottom: -24px;
  }

  .add-button:hover {
    background-color: #003eaa;
  }
}
