.kz-overlay {
  position: fixed !important;
  z-index: 100 !important;
  padding-top: 150px !important;
  left: 0 !important;
  top: 0 !important;
  width: 100% !important;
  height: 100% !important;
  overflow: auto !important;
  background-color: rgba(12, 12, 13, 0.6) !important;
}

.kz-modal-content {
  display: flex !important;
  flex-direction: column !important;
  background-color: #f9f9fa !important;
  border: 2px solid rgba(12, 12, 13, 0.2) !important;
  border-radius: 2px !important;
  max-width: 40% !important;
  margin: 0 auto !important;
  padding: 0 16px !important;
  position: relative !important;
}


.kz-word-field {
  background: #f9f9fa !important;
  border: none !important;
  color: #ff0039 !important;
  font-family: 'Cormorant Garamond', serif !important;
  font-weight: 300 !important;
  font-size: 36px !important;
  padding: 0 !important;
  margin-top: 8px !important;
  text-align: center !important;
}

.kz-meaning-label,
.kz-example-label {
  color: #0c0c0d !important;
  margin-bottom: 4px !important;
  font-size: 0.833rem !important;
}

.kz-example-label {
  margin-top: 8px
}

.kz-meaning-field,
.kz-example-field {
  padding: 8px !important;
  width: auto !important;
  height: 32px !important;
  border-radius: 2px !important;
  resize: none !important;
  border: 1px solid rgba(12, 12, 13, 0.2) !important;
  color: #0c0c0d !important;
  background-color: white !important;
  box-sizing: content-box !important;
}

.kz-meaning-field::placeholder,
.kz-example-field::placeholder {
  color: #737373
}

.kz-meaning-field:focus,
.kz-example-field:focus {
  border: 1px solid #0a84ff !important;
  box-shadow: 0 0 0 1px #0a84ff, 0 0 0 4px rgba(10, 132, 255, 0.3) !important;
}

.kz-meaning-field:hover,
.kz-example-field:hover {
  border: 1px solid rgba(12, 12, 13, 0.3) !important;
}

.kz-add-button {
  align-self: flex-end !important;
  background-color: #0060df !important;
  border: none !important;
  color: #fff !important;
  border-radius: 2px !important;
  font-size: 13px !important;
  font-weight: 400 !important;
  height: 32px !important;
  min-width: 132px !important;
  padding: 0 8px !important;
  margin: 8px 0 12px 0
}

.kz-add-button:hover {
  background-color: #003eaa
}

.kz-add-button:active {
  background-color: #002275
}

.kz-add-button:focus {
  box-shadow: 0 0 0 1px #0a84ff inset, 0 0 0 1px #0a84ff, 0 0 0 4px rgba(10, 132, 255, 0.3)
}

.kz-close-button {
  background-color: transparent !important;
  border: none !important;
  border-radius: 2px !important;
  position: absolute !important;
  right: 8px !important;
  top: 8px !important;
  padding: 4px !important;
  margin: 0 !important;
  height: 32px !important;
  width: 32px !important;
}

svg {
  display: block !important;
}

.kz-close-button:hover {
  background-color: rgba(12, 12, 13, 0.1) !important;
}

.kz-close-button:active {
  background-color: rgba(12, 12, 13, 0.2) !important;
}

.kz-close-button:focus {
  box-shadow: 0 0 0 1px #0a84ff inset, 0 0 0 1px #0a84ff, 0 0 0 4px rgba(10, 132, 255, 0.3) !important;
}

.kz-word-field,           /* Fixes Grammarly wordField overlap when changing fields */
.kz-close-button {
    z-index: 2 !important;
}
