hr {
  border: 0;
  height: 1px;
  border-top: 1px solid #d7d7db;
  margin: 0;
}

.popup-list {
  background-color: #ffffff;
  color: #0c0c0d;
  list-style-type: none;
  margin: 0;
  padding: 4px 0;
  width: 280px;
}

.popup-list li {
  height: 24px;
  display: flex;
  align-items: center
}

.popup-list li:hover {
  background-color: #ECECEC;
}

svg {
  margin: 0 8px;
}

.hide {
  display: none;
}

.games-list {
  position: absolute;
  height: 100%
}
