hr {
  border: 0;
  height: 1px;
  border-top: 1px solid #d7d7db;
  margin: 0;
}

.popup-list {
  background-color: #ffffff;
  color: #0c0c0d;
  list-style-type: none;
  margin: 0;
  padding: 4px 0;
  width: 280px;
}

.popup-list li {
  height: 24px;
  padding: 0 4px;
  display: flex;
  align-items: center
}

.popup-list span {
  flex-grow: 1;
}

.popup-list li:hover {
  background-color: #ECECEC;
}

svg {
  margin: 0 8px;
}

.hide {
  display: none;
}

.games-list-div {
  position: absolute;
  height: 100%;
  background-color: #ffffff;
}

.title-list svg {
  margin: 0;
  height: 32px;
  width: 32px;
  padding: 8px;
}
.title-list svg:hover {
  background-color: #ececec;
}

.title-list li {
  display: flex;
  height: 32px
}
.title-list li:hover {
  background-color: #ffffff;
}

.title-list strong {
  flex-grow: 1;
  text-align: center;
  padding-right: 32px;
}
